<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">

    <!--
        仅仅把菜品插入还不够，还要返回插入菜品之后，菜品的id是多少，这样才能协助后面根据菜品的id选择口味
        useGeneratedKeys表示我们需要生成的主键值 keyProperty表示把生成的主键值赋值给对象里面的id属性
        也就是说插入菜品之后会生成菜品的id，然后我们会把生成的菜品id返回给对象里面的id
    -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into dish(name, category_id, price, image, description, create_time, update_time, create_user, update_user,status)
            VALUES
        (#{name},#{categoryId},#{price},#{image},#{description},#{createTime},#{updateTime},#{createUser},#{updateUser},#{status})
    </insert>

    <select id="pageQuery" resultType="com.sky.vo.DishVO">
        select d.*,c.name as categoryName from dish d left join category c on d.category_id = c.id
        <where>
            <if test="name != null">
                and d.name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and d.category_id = #{categoryId}
            </if>
            <if test="status != null">
                and d.status = #{status}
            </if>
        </where>

        order by d.create_time desc
    </select>

    <select id="list" resultType="Dish" parameterType="Dish">
        select * from dish
        <where>
            <if test="name != null">
                and name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>

    <delete id="deleteByIds">
        delete from dish where id in 
             <foreach collection="dishIds" item="dishId" separator="," open="(" close=")">
                 #{dishId}
             </foreach>
    </delete>

    <update id="update">
        update dish
        <set>
            <if test="name != null"> name = #{name}, </if>
            <if test="categoryId != null"> category_id = #{categoryId}, </if>
            <if test="price != null"> price = #{price}, </if>
            <if test="image != null"> image = #{image}, </if>
            <if test="description != null"> description = #{description}, </if>
            <if test="status != null"> status = #{status}, </if>
            <!--自动填充是在执行方法的时候，会自动把信息填充到对象里面去，而不需要人手动的填充到对象里面去
                填充到对象里面去了之后，我们就可以获取对象里面被自动填充过的信息，然后插入到数据库里面去
                所以自动填充的内容，还是要我们手动填充到数据库里面去
            -->
            <if test="updateTime != null"> update_time = #{updateTime}, </if>
            <if test="updateUser != null"> update_user = #{updateUser}, </if>
        </set>
        where id = #{id}
    </update>

</mapper>
