<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.ShoppingCartMapper">
    <insert id="insertBatch">
        insert into shopping_cart(name, image, user_id, dish_id, setmeal_id, dish_flavor, amount, create_time)
        VALUES
            <foreach collection="shoppingCartList" item="cart" separator=",">
                (#{cart.name},#{cart.image},#{cart.userId},#{cart.dishId},#{cart.setmealId},
                 #{cart.dishFlavor},#{cart.amount},#{cart.createTime})
            </foreach>
    </insert>

    <!--    <update id="subShoppingCart">-->
<!--        update shopping_cart-->
<!--        <set>-->
<!--            <if test="dishId != null">-->
<!--                dish_id = #{dishId},-->
<!--            </if>-->
<!--            <if test="setmealId != null">-->
<!--                setmeal_id = #{setmealId},-->
<!--            </if>-->
<!--            <if test="dishFlavor != null">-->
<!--                dish_flavor = #{dishFlavor},-->
<!--            </if>-->
<!--            <if test="number != null">-->
<!--                number = #{number},-->
<!--            </if>-->
<!--        </set>-->
<!--        where user_id = #{userId}-->
<!--    </update>-->

    <update id="updateNumberById">
        update shopping_cart
        set
        number = #{number}
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="dishId != null">
                and dish_id = #{dishId}
            </if>
            <if test="setmealId != null">
                and setmeal_id = #{setmealId}
            </if>
            <if test="dishFlavor != null">
                and dish_flavor = #{dishFlavor}
            </if>
        </where>
    </update>


    <delete id="deleteById">
        delete from shopping_cart
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="dishId != null">
                and dish_id = #{dishId}
            </if>
            <if test="setmealId != null">
                and setmeal_id = #{setmealId}
            </if>
            <if test="dishFlavor != null">
                and dish_flavor = #{dishFlavor}
            </if>
        </where>
    </delete>


    <select id="list" resultType="com.sky.entity.ShoppingCart">
        select * from shopping_cart
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="dishId != null">
                and dish_id = #{dishId}
            </if>
            <if test="setmealId != null">
                and setmeal_id = #{setmealId}
            </if>
            <if test="dishFlavor != null">
                and dish_flavor = #{dishFlavor}
            </if>
        </where>
    </select>
</mapper>
